{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block header %}
<style>
    body {
        background:whitesmoke;
    }
    #check {
        border: none;
        padding: 10px;
        padding-left: 100px;
        padding-right: 100px;
        border-radius: 20px;
        color: white;
    }
    .card {
        text-align: left;
        border-radius: 20px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 1px 30px 50px;
    }

    .card:hover {
        box-shadow: rgba(0, 0, 0, 0.55) 1px 30px 50px;
        cursor: pointer;
    }
    .account {
        text-align: center;
        padding: 30px;
        margin: 20px;
    }
    .account h1{
        font-weight: 200;
    }
    .account h3{
        font-weight: 200;
    }
</style>
{% endblock %}

{% block content %}

<div class = 'account' >
    <h1>One Account, Multiple services!</h1>
<h3>Create Your Menous Account Now!</h3>
</div>

<div class="card-deck" style = "width: 80%; margin-left: 10%;">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Menous Password</h3>
        <p class="card-text">Menous Passwords is a way for you to store
           your passwords safely and securely. Saving your passwords in 
           the browser is unsafe. However our platform enables you to
           store the passwords 
          you want to store. </p>
        <ul class="list-group">
            <li class="list-group-item">Encryption of Passwors</li>
            <li class="list-group-item">API Access</li>
            <li class="list-group-item">Command Line Access</li>
            <li class="list-group-item">Multiple Devices</li>
            <li class="list-group-item">Adding and Deleting Password</li>
          </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Menous Blogs</h3>
        <p class="card-text">Menous Blogs is a service that allows you to start your own Text Blog.
           It works on any browser be it mobile or desktop. This enables to share your stories by posting everyday.</p>
        <ul class="list-group">
            <li class="list-group-item">Create Blog Posts</li>
            <li class="list-group-item">Create A Profile</li>
            <li class="list-group-item">Share Blog Posts With Others</li>
            <li class="list-group-item">API To Work With</li>
            <li class="list-group-item">Command Line Access</li>
          </ul>
    </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Menous Tasks</h3>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
    </div>
  </div>

{% endblock %}
