{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block header %}
<style>
    body {
        background: whitesmoke;
    }
    .title {
        font-weight: 100;
        font-size: 80px;
    }
    #check {
        border: none;
        padding: 10px;
        padding-left: 100px;
        padding-right: 100px;
        border-radius: 20px;
        color: white;
    }
    .content {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50% , -50%);
        width:auto;
        color: black;
        padding: 50px;
    }
</style>
{% endblock %}

{% block content %}
<div class = "content">
    <h1 class = 'title' >Manage Your Passwords</h1>
    <a class="btn btn-primary" id = "check" href="/auth" role="button">Check It Out!</a>
</div>

{% endblock %}
